<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color:#2d98da!important;">
    <a class="navbar-brand" href="#carouselExampleCaptions">
    <img src="assets/image/logotipo/logotipo.png" alt="" width="40" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#servico">Serviços <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#missao">Missão</a>
        </li>
        <li class="nav-item  active">
            <a class="nav-link" href="#entrar">Entrar</a>
          </li>
        
        
      </ul>
    </div>
  </nav>